{% extends 'base.html.twig' %}

{% block title %}Avance index{% endblock %}

{% block body %}
    <h1>Avance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Ref_recu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avance in avances %}
            <tr>
                <td>{{ avance.id }}</td>
                <td>{{ avance.montant }}</td>
                <td>{{ avance.date ? avance.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ avance.refRecu }}</td>
                <td>
                    <a href="{{ path('app_avance_show', {'id': avance.id}) }}">show</a>
                    <a href="{{ path('app_avance_edit', {'id': avance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avance_new') }}">Create new</a>
{% endblock %}
