<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recu Avance#{{avance.id}}</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('build/app.css')) }}">
</head>
<body>
    <img class="h-8 mr-3" src="https://www.norsys.fr/sites/all/themes/custom/norsys/logo.png?v=2" alt="Flowbite Logo"/>
    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Norsys</span>
    <div class="m-auto bg-white rounded-lg shadow">
        <div class="flex flex-col items-center pb-10">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white italic text-center">RESERVATION#REF: {{ avance.getIdReservation().getId() }}</h5>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white italic text-center">ID: {{ avance.id }}</h5>
            <div class="text-center mt-2 flex">
                <p class="font-semibold">Montant total de la reservation</p>
                <p class="text-gray-500">{{ avance.getIdReservation().montantTotal }} DH</p>
            </div>
            <div class="text-center mt-2 flex">
                <p class="font-semibold">Montant d'avance:</p>
                <p class="text-gray-500">{{ avance.montant }} DH</p>
            </div>
            <div class="text-center mt-2 flex">
                <p class="font-semibold">Montant reste:</p>
                <p class="text-gray-500">{{ totalAvance }} DH</p>
            </div>
            <div class="text-center mt-2">
                <p class="font-semibold">Date d'avance:</p>
                <p class="text-gray-500">{{ avance.date ? avance.date|date('Y-m-d H:i:s') : '-' }}</p>
            </div>
            <div class="text-center mt-2 flex">
                <p class="font-semibold">Reference du recu:</p>
                <p class="text-gray-500">{{ avance.refRecu ? avance.refRecu : '-' }}</p>
            </div>
        </div>
    </div>
</body>
</html>