{% extends 'base.html.twig' %}

{% block title %}Avance{% endblock %}

{% block body %}
    <h1>Avance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avance.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ avance.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ avance.date ? avance.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ref_recu</th>
                <td>{{ avance.refRecu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avance_index') }}">back to list</a>

    <a href="{{ path('app_avance_edit', {'id': avance.id}) }}">edit</a>

    {{ include('avance/_delete_form.html.twig') }}
{% endblock %}
