{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
    <h1>Hotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lieu</th>
                <th>Etoile</th>
                <th>Distance</th>
                <th>Nombre_nuits</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.lieu }}</td>
                <td>{{ hotel.etoile }}</td>
                <td>{{ hotel.distance }}</td>
                <td>{{ hotel.nombreNuits }}</td>
                <td>
                    <a href="{{ path('app_hotel_show', {'id': hotel.id, 'idH': idH}) }}">show</a>
                    <a href="{{ path('app_hotel_edit', {'id': hotel.id, 'idH': idH}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hotel_new', {'idH': idH}) }}">Create new</a>
{% endblock %}
