<div class="w-full m-auto max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    {{ form_start(form, {
        'attr': {'class': 'space-y-6'}
    }) }}

    <div class="flex justify-between">
        <div class="mr-2">
            <label for="nom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
            {{ form_widget(form.nom, {
                'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'}
            }) }}
        </div>
        <div class="ml-2">
            <label for="prenom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
            {{ form_widget(form.description, {
                'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'}
            }) }}
        </div>
    </div>
    <button class="btn">{{ button_label|default('Ajouter') }}</button>
    {{ form_end(form) }}
</div>