{% extends 'base.html.twig' %}

{% block title %}OffreCategorie index{% endblock %}

{% block body %}
    <h1>OffreCategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre_categorie in offre_categories %}
            <tr>
                <td>{{ offre_categorie.id }}</td>
                <td>{{ offre_categorie.nom }}</td>
                <td>{{ offre_categorie.description }}</td>
                <td>
                    <a href="{{ path('app_offre_categorie_show', {'id': offre_categorie.id}) }}">show</a>
                    <a href="{{ path('app_offre_categorie_edit', {'id': offre_categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun categorie d'offre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_categorie_new') }}">Create new</a>
{% endblock %}
