{% extends 'auth.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<h1 class="font-bold text-center dark:text-white">Commencez avec nous aujourd'<span class="text-blue-600">h</span>
		<span class="text-red-600">u</span>
		<span class="text-green-600">i</span>
	</h1>


	{{ form_start(registrationForm) }}
	{% if form_errors(registrationForm.plainPassword) %}
		<div class="alert alert-danger">{{ form_errors(registrationForm.plainPassword) }}</div>
	{% endif %}
	{% if error is defined %}
		<div class="alert alert-danger">{{ error }}</div>
	{% endif %}
	<div class="relative z-0 w-full mb-6 group">
		{{ form_widget(registrationForm.email, {label:false}) }}
		<label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
	</div>
	<div class="relative z-0 w-full mb-6 group">
		{{ form_widget(registrationForm.plainPassword, {label: false}) }}
		<label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mot de passe</label>
	</div>
	<div class="relative z-0 w-full mb-6 group">
		{{ form_widget(registrationForm.agence, {label: false}) }}
		<label for="floating_agence" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom d'agence</label>
	</div>
	<div class="grid md:grid-cols-2 md:gap-6">
		<div class="relative z-0 w-full mb-6 group">
			{{ form_widget(registrationForm.nom) }}
			<label for="floating_nom" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom</label>
		</div>
		<div class="relative z-0 w-full mb-6 group">
			{{ form_widget(registrationForm.prenom) }}
			<label for="floating_prenom" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Prenom</label>
		</div>
	</div>
	<div class="grid md:grid-cols-2 md:gap-6">
		<div class="relative z-0 w-full mb-6 group">
			{{ form_widget(registrationForm.telephone_mobile) }}
			<label for="floating_tel" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Telephone mobile</label>
		</div>
		<div class="relative z-0 w-full mb-6 group">
			{{ form_widget(registrationForm.telephone_fixe) }}
			<label for="floating_tel" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Telephone fixe</label>
		</div>
	</div>
	<div class="relative z-0 w-full mb-6 group">
		{{ form_widget(registrationForm.adresse) }}
		<label for="floating_adresse" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Addresse</label>
	</div>
	{{ form_row(registrationForm.type_abonnement, {
      label: false,
      attr: {'class': 'block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:bg-gray-800 dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'},
    }) }}
	{{ form_row(registrationForm.logo, {
      label:"Logo:",
      label_attr: {'class': 'inline py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'},
      attr: {'class': 'inline my-6 ml-12 w-max text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400',
              'data-browse': 'select a logo'}
    }) }}
	{{ form_row(registrationForm.submit,{
      label:'S\'inscrire',
      attr: {'class': 'w-full h-14 text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-md text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800'},
      }) }}
	{{ form_end(registrationForm) }}

{% endblock %}
