{{ form_start(form) }}
    {% if form_errors(form) %}
        <div class="alert alert-danger">{{ form_errors(form) }}</div>
    {% endif %}
    {{ form_row(form.num_voyageurs) }}
    {{ form_row(form.remarque) }}
    {% if reservation.getIdCommercial() is null %}
        <input type="checkbox" id="isCommercial" name="reservation[isCommercial]">
    {% else %}
        <input type="checkbox" id="isCommercial" name="reservation[isCommercial]" checked>
    {% endif %}
    
    <label>is Commercial</label><br>
    <select id="SelectMethod" name="reservation[SelectMethod]">
        <option value="null" ></option>
        <option value="new">New Commerciale</option>
        <option value="exist">Already existing Commercial</option>
    </select>
    <div id="reservation_commercial">
    </div>
    <div class="commercial-info">
        {{ form_row(form.mnt_commission) }}
        {{ form_row(form.avance_commission) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
