{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_reservation</th>
                <th>Num_voyageurs</th>
                <th>Remarque</th>
                <th>Mnt_commission</th>
                <th>Avance_commission</th>
                <th>Date_avance_commission</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.numVoyageurs }}</td>
                <td>{{ reservation.remarque }}</td>
                <td>{{ reservation.MntCommission }}</td>
                <td>{{ reservation.avanceCommission }}</td>
                <td>{{ reservation.dateAvanceCommission }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
