{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
  <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-10 mt-20">
<!-- 1-->
  
            <div class="shadow-lg bg-red-400 hover:bg-red-500 hover:ease-in duration-300 border-red-vibrant-dark mb5 p-2 w-60 mx-2">
                <div class="p-4 flex flex-col">
                    <a href="/dashboard/myOffres" class="no-underline text-white text-2xl">
                       {{offres}}
                    </a>
                    <a href="/dashboard/myOffres" class="no-underline text-white text-lg">
                      Offres
                    </a>
                </div>
            </div>
<!-- 2-->
{% if is_granted('ROLE_ADMIN') %}
 <div class="shadow-lg bg-orange-400 hover:bg-orange-500 hover:ease-in duration-300 border-red-vibrant-dark mb5 p-2 w-60 mx-2">
                <div class="p-4 flex flex-col">
                    <a href="/dashboard/agent" class="no-underline text-white text-2xl">
                      {{agent}}
                    </a>
                    <a href="/dashboard/agent" class="no-underline text-white text-lg">
                    Agent
                    </a>
                </div>
            </div>
{% endif %}          
<!-- 3-->
 <div class="shadow-lg bg-green-400 hover:bg-green-500 hover:ease-in duration-300 border-red-vibrant-dark mb5 p-2 w-60 mx-2">
                <div class="p-4 flex flex-col">
                    <a href="/dashboard/message" class="no-underline text-white text-2xl">
                      {{messages}}
                    </a>
                    <a href="/dashboard/message" class="no-underline text-white text-lg">
                     Messages
                    </a>
                </div>
   </div>
   <!-- 4-->
 <div class="shadow-lg bg-cyan-400 hover:bg-cyan-500 hover:ease-in duration-300 border-red-vibrant-dark mb5 p-2 w-60 mx-2">
                <div class="p-4 flex flex-col">
                    <a href="/dashboard/commercial" class="no-underline text-white text-2xl">
                      {{commercial}}
                    </a>
                    <a href="/dashboard/commercial" class="no-underline text-white text-lg">
                      Commercial
                    </a>  
                </div>
   </div>
   <!-- 5-->
 <div class="shadow-lg bg-purple-400 hover:bg-purple-500 hover:ease-in duration-300 border-red-vibrant-dark mb5 p-2 w-60 mx-2">
                <div class="p-4 flex flex-col">
                    <a href="/dashboard/reservation" class="no-underline text-white text-2xl">
                      {{reservation}}
                    </a>
                    <a href="/dashboard/reservation" class="no-underline text-white text-lg">
                     Reservation
                    </a>
                </div>
   </div>
</div>



{% endblock %}
