{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div>offres: {{offres}}</div>
<div>agent: {{agent}}</div>
<div>messages: {{messages}}</div>
<div>commercial: {{commercial}}</div>
<div>reservation: {{reservation}}</div>
{% endblock %}
