{{ form_start(form) }}
    {{ form_widget(form.titre) }}
    {{ form_widget(form.image) }}
    {{ form_widget(form.id_destination) }}
    <div id="hotels" data-prototype="{{ form_widget(form.hotels.vars.prototype)|e('html_attr')}}">

    </div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}