{{ form_start(form) }}
{% if form_errors(form) %}
    <div class="alert alert-danger">{{ form_errors(form) }}</div>
{% endif %}
{% if form_errors(form.image) %}
    <div class="alert alert-danger">{{ form_errors(form.image) }}</div>
{% endif %}
   <!--Container-->
    <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-5">
        <div class="w-full lg:w-1/5 px-6 text-xl text-gray-800 leading-normal">
            {# <p class="text-base font-bold py-2 lg:pb-6 text-gray-700 dark:text-white">Menu</p> #}
            <div class="block lg:hidden sticky inset-0">
                <button id="menu-toggle" class="flex w-full justify-end px-3 py-3 bg-white lg:bg-transparent border rounded border-gray-600 hover:border-blue-500 appearance-none focus:outline-none">
                    <svg class="fill-current h-3 float-right" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </button>
            </div>
            <div class="w-full sticky inset-0 hidden max-h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 my-2 lg:my-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-20" style="top:6em;" id="menu-content">
                <ul class="list-reset py-2 md:py-0">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="py-1 md:my-2 hover:bg-blue-500 lg:hover:bg-transparent border-l-4 border-transparent font-bold border-blue-500">
                        <a href='#section1' class="block pl-4 align-middle dark:text-white text-gray-700 no-underline hover:text-blue-500">
                            <span class="pb-1 md:pb-0 text-sm">Affectation</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="py-1 md:my-2 hover:bg-blue-500 lg:hover:bg-transparent border-l-4 border-transparent">
                        <a href='#section2' class="block pl-4 align-middle dark:text-white text-gray-700 no-underline hover:text-blue-500">
                            <span class="pb-1 md:pb-0 text-sm">Détail d'offre</span>
                        </a>
                    </li>
                    <li class="py-1 md:my-2 hover:bg-blue-500 lg:hover:bg-transparent border-l-4 border-transparent">
                        <a href='#section3' class="block pl-4 align-middle dark:text-white text-gray-700 no-underline hover:text-blue-500">
                            <span class="pb-1 md:pb-0 text-sm">Détail Vol-Voyage</span>
                        </a>
                    </li>
                    <li class="py-1 md:my-2 hover:bg-blue-500 lg:hover:bg-transparent border-l-4 border-transparent">
                        <a href='#section4' class="block pl-4 align-middle dark:text-white text-gray-700 no-underline hover:text-blue-500">
                            <span class="pb-1 md:pb-0 text-sm">Les exigences</span>
                        </a>
                    </li>

                    <li class="py-1 md:my-2 hover:bg-blue-500 lg:hover:bg-transparent border-l-4 border-transparent">
                        <a href='#section5' class="block pl-4 align-middle dark:text-white text-gray-700 no-underline hover:text-blue-500">
                            <span class="pb-1 md:pb-0 text-sm">Type d'offre</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--Section container-->
        <section class="w-full lg:w-4/5">
 {% if is_granted('ROLE_ADMIN') %}
            <!--Title-->
            <h1 class="flex items-center font-sans font-bold break-normal text-gray-700 dark:text-white px-2 text-xl mt-12 lg:mt-0 md:text-2xl">
			 Ajouter une offre :
			</h1>

            <!--Title-->
           
                <h2 id='section1' class="font-sans mt-12 font-bold break-normal text-gray-700 dark:text-white px-2 pb-8 text-xl">Affectation</h2>
            {% endif %}
            <!--Card-->
            <div class="p-8 mt-6 lg:mt-0 leading-normal shadow border border-blue-500 rounded border-t-8 border-b-0 border-l-0 border-r-0 dark:border-white bg-white dark:bg-gray-700">
               <div class="block w-full top-1/2 ml-70">
                    <h1 class="mb-8 mt-5 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-2xl">
                    {% if is_granted('ROLE_ADMIN') %}
                         Relier cet offre a un agent:</h1>
                    {% else %}
                    <span class="text-transparent bg-clip-text bg-blue-600 dark:text-white">Ajouter une offre :</span></h1>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}    
                    <label class="relative inline-flex items-center cursor-pointer ml-20">
                        <input type="checkbox" id="forAgent" class="sr-only peer" name="forAgent">
                        <div class="w-11 h-6 bg-gray-200  rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-white peer-checked:bg-blue-600"></div>
                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-white">Pour un agent</span>
                    </label>
                    {% endif %}
                    {{ form_widget(form.id_user,{ 'id': 'users-input' ,'attr': {'class': 'hidden mt-4 ml-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
                             <label for="" id='errorforAgent' class="text-red-500"></label>
                </div>
            </div>
            <!--/Card-->

            <!--Title-->
            <h2 class="font-sans mt-12 font-bold break-normal text-gray-700 dark:text-white px-2 pb-8 text-xl">Détail d'offre</h2>

            <!--Card-->
            <div id='section2' class="p-8 mt-6 lg:mt-0 rounded shadow border border-blue-500 rounded border-t-8 border-b-0 border-l-0 border-r-0 dark:border-white bg-white dark:bg-gray-700">
                    <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textfield">
                                Titre de l'offre
                            </label>
                        </div>
                        <div class="md:w-72">
                             {{ form_widget(form.titre, {'attr' : {'class': 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                                                            'placeholder': " " } }) }}
                        </div>
                    </div>
                    <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textfield">
                                Image
                            </label>
                        </div>
                        <div class="md:w-2/3">
                             {{ form_widget(form.image, {'attr' : {'class': 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                                                            'placeholder': " " } }) }}
                        </div>
                    </div>
                    

                    <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-select">
                                Destination
                            </label>
                        </div>
                       {{form_widget(form.id_destination, {
                                    'attr': {'class': 'bg-gray-50 mx-1 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                            }) }}
                    </div>

                    <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-select">
                                Hebergement
                            </label>
                        </div>
                        <label class="inline-flex items-center">
                                   {{form_widget(form.bhebergement, {
                                'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}
                            })}}
                                    <label for="checkbox" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Oui</label>
                        </label>
                    </div>
                     <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-select">
                                visite Medine
                            </label>
                        </div>
                        <label class="inline-flex items-center">
                                   {{form_widget(form.bvisite_medine, {
                                'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}
                            })}}
                                    <label for="checkbox" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Oui</label>
                        </label>
                    </div>
                    <div class="md:flex mb-6">
                     <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textarea">
                                Dates
                            </label>
                        </div>
                    <div class="flex">
                        <div class="w-96 m-auto">
                            <h1 class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">date de depart:</h1>
                            <div class="">
                                {{ form_widget(form.date_depart.children.date.year, {
                                    'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                                }) }}
                                {{ form_widget(form.date_depart.children.date.month, {
                                    'attr': {'class': 'mx-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                                }) }}
                                {{ form_widget(form.date_depart.children.date.day, {
                                    'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                                }) }}
                            </div>
                            <h1 class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">heure de depart:</h1>
                            <div>
                                {{ form_widget(form.date_depart.children.time.hour, {
                                    'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                                }) }}
                                {{ form_widget(form.date_depart.children.time.minute, {
                                    'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                                }) }}
                            </div>
                        </div>
                        {# <div id="bar" class="w-0.5 bg-gray-400 rounded-full"></div> #}
                        <div id="retour" class="w-1/2">
                            <h1 class="w-96 py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">date de retour:</h1>
                            <div>
                                {{ form_widget(form.date_retour.children.date.year, {
                                    'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                                }) }}
                                {{ form_widget(form.date_retour.children.date.month, {
                                    'attr': {'class': 'mx-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                                }) }}
                                {{ form_widget(form.date_retour.children.date.day, {
                                    'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                                }) }}
                            </div>
                            <h1 class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">heure de retour:</h1>
                            <div>
                                {{ form_widget(form.date_retour.children.time.hour, {
                                    'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                                }) }}
                                {{ form_widget(form.date_retour.children.time.minute, {
                                    'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                                }) }}
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <!--/Card-->

            <!--Title-->
            <h2 class="font-sans mt-12 font-bold break-normal text-gray-700 dark:text-white px-2 pb-8 text-xl">Détail Vol-Voyage</h2>

            <!--Card-->
            <div id='section3' class="p-8 mt-6 lg:mt-0 rounded shadow border border-blue-500 rounded border-t-8 border-b-0 border-l-0 border-r-0 dark:border-white bg-white dark:bg-gray-700">
                  <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textarea">
                                Détail du vol
                            </label>
                        </div>
                        <div class="md:w-2/3">
                            {{form_widget(form.detail_vols, {
                                'attr': {'class': 'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                                        'placeholder': "Écrivez vos pensées ici ...",
                                        'rows': '4'
                                }
                            })}}
                        </div>
                    </div>
                    <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textarea">
                                Détail du voyage
                            </label>
                        </div>
                        <div class="md:w-2/3">
                            {{form_widget(form.detail_voyage, {
                                'attr': {'class': 'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                                        'placeholder': "Écrivez vos pensées ici ...",
                                        'rows': '4'
                                }
                            })}}
                        </div>
                    </div>
                    <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textfield">
                                Prix
                            </label>
                        </div>
                        <div class="md:w-2/3">
                           {{ form_widget(form.prix_un, {'attr' : {'class': 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                                                                'placeholder': "une personne" } }) }}
                        </div>
                        <div class="md:w-2/3 ml-2">
                           {{ form_widget(form.prix_double, {'attr' : {'class': 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                                                                'placeholder': "deux personnes" } }) }}
                        </div>
                        <div class="md:w-2/3 ml-2">
                           {{ form_widget(form.prix_triple, {'attr' : {'class': 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                                                                'placeholder': "trois personnes" } }) }}
                        </div>
                        <div class="md:w-2/3 ml-2">
                           {{ form_widget(form.prix_quad, {'attr' : {'class': 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                                                                'placeholder': "quatre personnes" } }) }}
                        </div>
                    </div>
            </div>
            <!--/Card-->

            <!--Title-->
            <h2 class="font-sans mt-12 font-bold break-normal text-gray-700 dark:text-white px-2 pb-8 text-xl">Les exigences</h2>

            <!--Card-->
            <div id='section4' class="p-8 mt-6 lg:mt-0 rounded shadow border border-blue-500 rounded border-t-8 border-b-0 border-l-0 border-r-0 dark:border-white bg-white dark:bg-gray-700">
                    <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-checkbox">
                                les exigences:
                            </label>
                        </div>
                        <div class="md:w-2/3">
                            <div>
                                <label class="">
                                   {{form_widget(form.bpassport, {
                                'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}
                            })}}
                                    <label for="checkbox" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Passport</label>
                                </label>
                            </div>
                             <div>
                                <label class="">
                                   {{form_widget(form.bvisa, {
                                'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}
                            })}}
                                    <label for="checkbox" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Visa</label>
                                </label>
                            </div>
                             <div>
                                <label class="">
                                   {{form_widget(form.bpass_vacinial, {
                                'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}
                            })}}
                                    <label for="checkbox" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Pass vaccinal</label>
                                </label>
                            </div>
                             <div>
                                <label class="">
                                   {{form_widget(form.bphotos, {
                                'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}
                            })}}
                                    <label for="checkbox" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Photos</label>
                                </label>
                            </div>                           
                        </div>
                    </div>
                     <div class="md:flex mb-6">
                        <div class="md:w-1/3">
                            <label class="block dark:text-white font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-checkbox">
                                les Pensions:
                            </label>
                        </div>
                          <div class="flex items-center">
                        <div class="w-72 space-y-3">
                            <div  class="flex items-center mt-4 m-auto w-2/3 pl-4 border border-gray-200 rounded-lg dark:border-gray-700">
                                {{form_widget(form.bdemi_pension, {
                                    'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}
                                })}}
                                <label for="checkbox" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Demi pension</label>
                            </div>
                            <div class="relative w-2/3 m-auto" id='Offre_prix_demi_pension'>
                                {{ form_widget(form.prix_demi_pension, {'attr' : {'class': 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                                                                    'placeholder': " " } }) }}
                                <label for="offre[prix_un]" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Prix demi pension</label>
                            </div>
                            <div class="relative w-2/3 m-auto" id='Offre_detail_demi_pension' >
                                {{ form_widget(form.detail_demi_pension, {'attr' : {'class': 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                                                                    'placeholder': " " } }) }}
                                <label for="offre[prix_un]" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Details</label>
                            </div>
                        </div>
                        <div class="w-80 space-y-3 border-l">
                            <div class="flex items-center mt-4 m-auto w-2/3 pl-4 border border-gray-200 rounded-lg dark:border-gray-700">
                                {{form_widget(form.bpension_complete, {
                                        'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}
                                }) }}
                                <label for="checkbox" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Pension complete</label>
                            </div>
                            <div class="relative w-2/3 m-auto" id="Offre_prix_complete_pension">
                                {{ form_widget(form.prix_complete_pension, {'attr' : {'class': 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                                                                    'placeholder': " " } }) }}
                                <label for="offre[prix_un]" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Prix pension complete</label>
                            </div>
                            <div class="relative w-2/3 m-auto" id="Offre_detail_complete_pension">
                                {{ form_widget(form.detail_complete_pension, {'attr' : {'class': 'block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer',
                                                                    'placeholder': " " } }) }}
                                <label for="offre[prix_un]" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Details</label>
                            </div>
                        </div>

                    </div>

                    </div>
            </div>
            <!--/Card-->

            <!--Title-->
            <h2 class="font-sans mt-12 font-bold break-normal text-gray-700 dark:text-white px-2 pb-8 text-xl">Type d'offre</h2>

            <!--Card-->
            <div id='section5' class="p-8 mt-6 lg:mt-0 rounded shadow border border-blue-500 rounded border-t-8 border-b-0 border-l-0 border-r-0 dark:border-white bg-white dark:bg-gray-700">

                    <div class="flex justify-center">
                        <div class="flex items-center mr-3 w-1/5 pl-4 border border-gray-200 rounded-lg dark:border-gray-700">
                            {{form_widget(form.bcoup_coeur, {
                                'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}
                            })}}
                            <label for="checkbox" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Coup de coeur</label>
                        </div>
                        <div class="flex items-center ml-3 w-1/5 pl-4 border border-gray-200 rounded-lg dark:border-gray-700">
                            {{form_widget(form.bpubier, {
                                'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}
                            })}}
                            <label for="checkbox" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Publier</label>
                        </div>
                    </div>
                     <div class="flex my-6">
                        <div class="w-1/2 m-auto">
                            <h1 class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">date de publication:</h1>
                            {{ form_widget(form.date_publication.children.year, {
                                'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                            }) }}
                            {{ form_widget(form.date_publication.children.month, {
                                'attr': {'class': 'mx-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                            }) }}
                            {{ form_widget(form.date_publication.children.day, {
                                'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                            }) }}
                        </div>
                        <div id="retour" class="w-1/2">
                            <h1 class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">date de fin publication:</h1>
                            {{ form_widget(form.date_fin_publication.children.year, {
                                'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                            }) }}
                            {{ form_widget(form.date_fin_publication.children.month, {
                                'attr': {'class': 'mx-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                            }) }}
                            {{ form_widget(form.date_fin_publication.children.day, {
                                'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}
                            }) }}
                        </div>
                        
                    </div>
                <div class="pt-8">
                   <button id="BtnSave" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-80 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        {{ button_label|default('Ajouter offre') }}
                        <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>

            </div>
            <!--/Card-->

        </section>
        <!--/Section container-->


      </div>
      {{ form_end(form) }}
      <!--/container-->
{{ form_end(form) }}
{% block javascripts %}
   <!-- Toggle dropdown list -->
<script>
/*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

var userMenuDiv = document.getElementById("userMenu");
var userMenu = document.getElementById("userButton");

 var helpMenuDiv = document.getElementById("menu-content");
 var helpMenu = document.getElementById("menu-toggle");

document.onclick = check;

function check(e){
  var target = (e && e.target) || (event && event.srcElement);

  //User Menu
  if (!checkParent(target, userMenuDiv)) {
	// click NOT on the menu
	if (checkParent(target, userMenu)) {
	  // click on the link
	  if (userMenuDiv.classList.contains("invisible")) {
		userMenuDiv.classList.remove("invisible");
	  } else {userMenuDiv.classList.add("invisible");}
	} else {
	  // click both outside link and outside menu, hide menu
	  userMenuDiv.classList.add("invisible");
	}
  }

   //Help Menu
   if (!checkParent(target, helpMenuDiv)) {
	// click NOT on the menu
	if (checkParent(target, helpMenu)) {
	  // click on the link
	  if (helpMenuDiv.classList.contains("hidden")) {
		helpMenuDiv.classList.remove("hidden");
	  } else {helpMenuDiv.classList.add("hidden");}
	} else {
	  // click both outside link and outside menu, hide menu
	  helpMenuDiv.classList.add("hidden");
	}
   }

}

function checkParent(t, elm) {
  while(t.parentNode) {
	if( t == elm ) {return true;}
	t = t.parentNode;
  }
  return false;
}

</script>

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- Scroll Spy -->
<script>
/* http://jsfiddle.net/LwLBx/ */

// Cache selectors
var lastId,
    topMenu = $("#menu-content"),
    topMenuHeight = topMenu.outerHeight()+175,
    // All list items
    menuItems = topMenu.find("a"),
    // Anchors corresponding to menu items
    scrollItems = menuItems.map(function(){
      var item = $($(this).attr("href"));
      if (item.length) { return item; }
    });

// Bind click handler to menu items
// so we can get a fancy scroll animation
menuItems.click(function(e){
  var href = $(this).attr("href"),
      offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
  $('html, body').stop().animate({ 
      scrollTop: offsetTop
  }, 300);
  if (!helpMenuDiv.classList.contains("hidden")) {
		helpMenuDiv.classList.add("hidden");
	  }
  e.preventDefault();
});

// Bind to scroll
$(window).scroll(function(){
   // Get container scroll position
   var fromTop = $(this).scrollTop()+topMenuHeight;

   // Get id of current scroll item
   var cur = scrollItems.map(function(){
     if ($(this).offset().top < fromTop)
       return this;
   });
   // Get the id of the current element
   cur = cur[cur.length-1];
   var id = cur && cur.length ? cur[0].id : "";

   if (lastId !== id) {
       lastId = id;
       // Set/remove active class
       menuItems
         .parent().removeClass("font-bold border-blue-600")
         .end().filter("[href='#"+id+"']").parent().addClass("font-bold border-blue-600");
   }                   
});

</script>
{% endblock %}