{% extends 'base.html.twig' %}

{% block title %}Commercial index{% endblock %}

{% block body %}
    <h1>Commercial index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commercial in commercials %}
            <tr>
                <td>{{ commercial.id }}</td>
                <td>{{ commercial.nom }}</td>
                <td>{{ commercial.prenom }}</td>
                <td>{{ commercial.telephone }}</td>
                <td>{{ commercial.adresse }}</td>
                <td>
                    <a href="{{ path('app_commercial_show', {'id': commercial.id}) }}">show</a>
                    <a href="{{ path('app_commercial_edit', {'id': commercial.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commercial_new') }}">Create new</a>
{% endblock %}
